@media screen and (max-width: 1600px) {
    .header {
        width: 80%;
    }
    .section {
        &--greeting {
            justify-content: start;
            .greeting-container {
                margin-left: 150px;
            }
        }
    }
}