html {
    scroll-behavior: smooth;
    font-family: "Geometria";
}

body {
    position: relative;
    background-color: #fff;
    cursor: default;
    overflow-x: hidden;
}

a {
    color: #fff;
    text-decoration: none;
}

// HEADER&FOOTER SECTION ======================================
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 39px;
    padding: 23px 0;
    width: 73%;
    max-width: 1410px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: #363636 1px solid;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212021;
    padding: 59px 255px 24px;
    width: calc(100% - 510px);
    .navigation {
        border: none;
    }
    .mobile-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.footer-row {
    width: 100%;
    max-width: 1410px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--expanded {
        padding-bottom: 47px;
        border-bottom: #3f3f3f 1px solid;
    }
    .company-info,
    .developer-info {
        margin-right: auto;
        font-size: 14px;
        color: #5f5f5f;
        line-height: 18px;
        margin-top: 24px;
        display: flex;
        transition: all 0.3s ease;
        span {
            display: block;
            margin-right: 44px;
            transition: all 0.3s ease;
            &:hover {
                color: #fff;
                cursor: pointer;
            }
        }
    }
    .developer-info {
        margin-right: 0;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
    }
}

.logo-container {
    margin-right: auto;
    display: flex;
    align-items: center;
    .logo {
        height: 40px;
        width: 35px;
        margin-right: 24px;
    }
    .logo-caption {
        color: #fff;
        font-size: 24px;
    }
}

.navigation {
    display: flex;
    align-items: center;
    height: fit-content;
    height: 32px;
    margin-right: 32px;
    border-right: #414141 1px solid;
    .navigation-link {
        font-size: 16px;
        margin-right: 32px;
        color: #8e8e8e;
        transition: all 0.3s ease;
        &:hover {
            color: #fff;
        }
    }
}

.contacts {
    margin-right: 32px;
    a {
        font-size: 14px;
        font-weight: 700;
    }
}

.apply {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-header,
.mobile-menu {
    display: none;
}

// ====================================== END HEADER&FOOTER SECTION
// MAIN SECTION ======================================
.main {
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
}

.section {
    width: 100%;
    &-header {
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        color: #000000;
        margin-bottom: 36px;
    }
    &-container {
        width: 100%;
        display: flex;
        align-items: center;
    }
    &--greeting {
        background: url("./assets/images/content/main.png") center;
        max-height: 780px;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: start;
        .mobile-image {
            width: 100vw;
            height: 324px;
            display: none;
        }
        .greeting-container {
            display: flex;
            flex-direction: column;
            align-items: start;
            max-width: 671px;
            margin-left: 255px;
        }
        .greeting-header {
            font-weight: 700;
            font-size: 52px;
            line-height: 65px;
            text-transform: uppercase;
            color: #fff;
        }
        .greeting-subheader {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #c5c5c5;
            margin-bottom: 48px;
        }
    }
    &--benefits {
        display: flex;
        flex-direction: column;
        padding: 80px 217px 80px 255px;
        background-color: #f2f2f4;
        .image-pagination {
            max-width: 527px;
            .image-toggler {
                display: flex;
                align-items: center;
                background-color: #fff;
                width: calc(100% - 40px);
                padding: 13px 0;
                padding-left: 40px;
                margin-bottom: 20px;
                max-height: 176px;
                border-radius: 8px;
                cursor: pointer;
                &--active {
                    background-color: #007bfc;
                    .image-toggler__container {
                        .image-header {
                            color: #fff;
                        }
                        .image-content {
                            color: #efefef;
                        }
                    }
                }
                &__container {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    .image-header {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 23px;
                        margin-bottom: 12px;
                    }
                    .image-content {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        color: #5f5f5f;
                    }
                }
            }
        }
        .image-presentation {
            max-width: calc(100% - 527px);
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    &--process {
        padding: 80px 375px 104px 255px;
        display: flex;
        flex-direction: column;
        align-items: start;
        .section-container {
            display: flex;
            align-items: start;
            justify-content: flex-start;
        }
        .section-list {
            margin-right: 75px;
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-top: 102px;
            .list-item {
                display: flex;
                align-items: center;
                margin-bottom: 33px;
                min-width: 285px;
                transition: all 0.3s ease;
                .item-counter {
                    width: 30px;
                    border-radius: 20px;
                    height: 30px;
                    background-color: rgba(242, 242, 244, 1);
                    color: #5f5f5f;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 14px;
                    transition: all 0.3s ease;
                }
                .item-value {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #5f5f5f;
                    transition: all 0.3s ease;
                }
                &--active {
                    .item-counter {
                        color: #fff;
                        background: #007bfc;
                    }
                    .item-value {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: #000000;
                    }
                }
            }
        }
        .section-menu {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            .menu-item {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-between;
                max-width: 930px;
                margin-bottom: 112px;
                &__header-container {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 12px;
                }
                &__counter {
                    width: 30px;
                    border-radius: 20px;
                    height: 30px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 14px;
                    color: #fff;
                    background: #007bfc;
                }
                &__header {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 30px;
                    color: #000000;
                }
                &__subheader {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #5f5f5f;
                    margin-left: 44px;
                    margin-bottom: 40px;
                }
                &__image {
                    img {
                        width: 100%;
                        height: 70%;
                    }
                }
            }
        }
    }
    &--ability {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 80px 264px 75px 255px;
        background: #f2f2f4;
        .section-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .ability-row {
                display: flex;
                align-items: center;
                width: 100%;
                height: 350px;
                margin-bottom: 30px;
                .ability-card {
                    width: 370px;
                    height: calc(100% - 72px);
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    margin-right: 30px;
                    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
                    border-radius: 8px;
                    padding: 36px 40px;
                    .ability-image {
                        margin-bottom: 16px;
                    }
                    .ability-header {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 25px;
                        color: #000000;
                        margin-bottom: 12px;
                    }
                    .ability-description {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        color: #5f5f5f;
                    }
                }
            }
        }
    }
    &--help {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 80px 255px;
        .section-container {
            display: flex;
            align-items: start;
            .faq-container {
                width: 762px;
                margin-top: 45px;
                .faq-block {
                    margin-bottom: 26px;
                    border-bottom: 1px solid #efefef;
                    padding-bottom: 20px;
                    overflow: hidden;
                    max-height: 32px;
                    transition: max-height 0.3s ease;
                    .question-block {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .question-header {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 20px;
                            color: #000000;
                            margin-right: 16px;
                            width: calc(100% - 48px);
                        }
                        .question-indicator {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            background: #f2f2f4;
                            position: relative;
                            &::after {
                                content: "";
                                display: block;
                                width: 5.6px;
                                height: 5.6px;
                                border-right: 2px solid #000000;
                                border-bottom: 2px solid #000000;
                                border-radius: 0 0 2px 0;
                                transform: rotate(45deg);
                                position: absolute;
                                top: 0;
                                right: 0;
                                left: 0;
                                bottom: 3px;
                                margin: auto;
                                transition: all 0.3s ease;
                            }
                            &--active {
                                &::after {
                                    transform: rotate(-135deg);
                                    bottom: -5px;
                                }
                            }
                        }
                    }
                    .answer-block {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        margin-top: 20px;
                        color: #5f5f5f;
                    }
                    &--active {
                        max-height: 300px;
                        transition: max-height 0.3s ease;
                        .question-block {
                            .question-indicator {
                                &::after {
                                    transform: rotate(-135deg);
                                    bottom: -5px;
                                }
                            }
                        }
                    }
                }
            }
            .faq-image {
                width: 570px;
                margin-left: 78px;
                background-image: url(./assets/images/content/main_help.png);
                background-size: cover;
                height: 472px;
            }
        }
    }
}

// ====================================== MAIN SECTION
// FORM SECTION ======================================
.dark-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000, $alpha: 0.5);
}

.apply-form {
    max-width: 446px;
    max-height: 686px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    padding: 60px;
    .form-close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 22.75px;
        height: 22.75px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .cross-one,
        .cross-two {
            display: block;
            background-color: #c2c2c2;
            width: 22.75px;
            height: 2px;
        }
        .cross-one {
            position: absolute;
            transform: rotate(45deg);
        }
        .cross-two {
            position: absolute;
            transform: rotate(-45deg);
        }
    }
    .form-header {
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 13px;
    }
    .form-subheader {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #5f5f5f;
        margin-bottom: 32px;
    }
    label {
        width: 100%;
        position: relative;
    }
    .form-input {
        width: calc(100% - 40px);
        padding: 20px;
        height: 18px;
        background: #ffffff;
        border: 1px solid #eaeaea;
        border-radius: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #000;
        margin-bottom: 24px;
        position: relative;
        outline: none;
        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #8e8e8e;
        }
        &--warning {
            border: 1px solid #cc0000;
            color: #f00;
        }
    }
    .form-caption {
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        color: #8e8e8e;
        max-width: 325px;
    }
}

.applied-screen {
    max-width: 446px;
    max-height: 686px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    padding: 80px 60px 60px;
    .form-close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 22.75px;
        height: 22.75px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .cross-one,
        .cross-two {
            display: block;
            background-color: #c2c2c2;
            width: 22.75px;
            height: 2px;
        }
        .cross-one {
            position: absolute;
            transform: rotate(45deg);
        }
        .cross-two {
            position: absolute;
            transform: rotate(-45deg);
        }
    }
    .applied-icon {
        margin-bottom: 24px;
        width: 115px;
        height: 132px;
    }
    .applied-header {
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        color: #000000;
        margin-bottom: 13px;
    }
    .applied-subheader {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #5f5f5f;
        text-align: center;
        margin-bottom: 32px;
        a {
            color: #007bfc;
            font-weight: 700;
        }
    }
}

.form-button {
    background-color: #007bfc;
    margin-top: 8px;
    padding: 18px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: none;
    outline: none;
    margin-bottom: 12px;
    &--form {
        padding: 18px 40px;
        width: auto;
        border-radius: 8px;
        background: #007bfc;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        font-family: "Geometria";
        font-style: normal;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 10px;
        transition: all 0.3s ease;
        cursor: pointer;
    }
}

// ====================================== FORM SECTION
// TEMPLATES STYLES ======================================
.apply-btn {
    padding: 13px 20px 11px;
    border-radius: 4px;
    background: #007bfc;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Geometria";
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    &--demo {
        max-width: 276px;
        font-size: 14px;
        padding: 18px 40px;
        line-height: 18px;
        border-radius: 8px;
    }
    &--footer {
        font-size: 14px;
        line-height: 18px;
    }
}

.empty--input::after {
    content: "Поле обязательно";
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #f00;
    position: absolute;
    bottom: 8px;
    left: 0;
    display: block;
}

// ====================================== END TEMPLATES STYLES
// JS STYLES ======================================
.image-toggle--hidden {
    display: none !important;
}

.js--hidden {
    display: none !important;
}

.disable-body {
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    margin-top: 20px !important;
    transition: all 0.3s ease;
}

.menuPosition {
    margin-left: 360px;
}

// ====================================== JS STYLES