doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Кукушка: тестовое задание
        link(rel="shortcut icon", href="./assets/images/content/main_logo.svg", type="image/x-icon")
        link(rel="stylesheet", href="./style.min.css")
    body 
        header.header 
            .logo-container
                a(href="#toMain") 
                    img.logo#toMain(src="./assets/images/content/main_logo.svg", alt="Company Logo")
                span.logo-caption Кукушка
            .navigation
                a.navigation-link(href="#toGreeting") О системе
                a.navigation-link(href="#toBenefits") Как работает
                a.navigation-link(href="") Возможности
                a.navigation-link(href="toFooter") Помощь
            .contacts 
                a(href="tel:+74951864203") +7 (495) 186-42-03 
            .apply 
                .apply-btn#headerApply  Оставить заявку
        main.main 
            .section#toGreeting.section--greeting
                .greeting-container 
                    .greeting-header Cистема удаленного контроля объектов
                    .greeting-subheader ERP-система для автоматизации контроля объектов и автоматического расчета зарплаты сотрудников
                    .apply-btn.apply-btn--demo ПОЛУЧИТЬ ДЕМО-ДОСТУП
            .section#toBenefits.section--benefits
                .section-header Выгода от внедрения
                .section-container 
                    .image-pagination 
                        .image-toggler.image-toggler--active#image--toggle1
                            .image-toggler__container
                                .image-header Все в одном месте
                                .image-content Кукушка собирает данные о всех объектах, постах и сотрудниках 24/7
                            .image-toggler__icon    
                                img.image-icon(src="./assets/images/content/main_arrow.png")
                        .image-toggler#image--toggle1
                            .image-toggler__container
                                .image-header Экономит до 22% с зарплаты сотрудника
                                .image-content Кукушка вычитает время опозданий, прогулов и сумму штрафов из зарплаты сотрудников
                            .image-toggler__icon    
                                img.image-icon(src="./assets/images/content/main_coins.png")
                        .image-toggler#image--toggle1
                            .image-toggler__container
                                .image-header Повышает качество контроля объектов
                                .image-content За счет системы постоянного мониторинга, прогнозирования состояния объектов, награждения лучших сотрудников
                            .image-toggler__icon    
                                img.image-icon(src="./assets/images/content/main_loopa.png")
                    .image-presentation 
                        .image--toggle1.image-toggle--show 
                            img(src="./assets/images/content/main_screens.png", alt="Toggle 3")
                        .image--toggle2.image-toggle--hidden 
                            img(src="./assets/images/content/main_screens.png", alt="Toggle 3")
                        .image--toggle3.image-toggle--hidden
                            img(src="./assets/images/content/main_screens.png", alt="Toggle 3")
        footer.footer#toFooter 
            .footer-row.footer-row--expanded 
                .logo-container
                    a(href="#toMain") 
                        img.logo#toMain(src="./assets/images/content/main_logo.svg", alt="Company Logo")
                    span.logo-caption Кукушка
                .navigation
                    a.navigation-link(href="#toGreeting") О системе
                    a.navigation-link(href="#toBenefits") Как работает
                    a.navigation-link(href="") Возможности
                    a.navigation-link(href="toFooter") Помощь
                .contacts 
                    a(href="tel:+74951864203") +7 (495) 186-42-03 
                .apply 
                    .apply-btn.apply-btn--footer ПОЛУЧИТЬ ДЕМО-ДОСТУП
            .footer-row 
                .company-info
                    span.company-name ©2019–2021 Кукушка
                    span.company-privacy Политика конфиденциальности
                .developer-info Сделано в Студии Юрина